*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 3;
    font-style: normal;
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

.bg-back{
    text-align: center;
    background-color: bisque;
    max-width: 40vw;
    padding: 2vh 2vw;
    border-radius: 10px;
}

.contaner{
    display: flex;
    flex-direction: column;   
    align-items: center;
    gap: 1vh;
    border: solid gray 2px;
}

.row{
    display: flex;            
    gap: 1vh;
}

.button{
    padding: 3vh 2vw;
    font-size: 1.2rem;
    border: none;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
}

.button:hover{
    background-color: #f0e0c9;
    color: brown;
}

.input{
    width: 100%;
    padding: 2vh 1vw;
    font-size: 1.5rem;
    text-align: right;
    border: none;
    border-radius: 10px;
    margin-bottom: 0.8vh;
    background-color: white;
    box-sizing: border-box;
}

.input:focus{
    outline: none;
}